test.*
*.pyc
*.log
dataset
*.swp
.vscode/*
input.txt
output.txt
*.json
.vscode/*
*.sh
datasets/*
out/*
*.out
*.csv
logs/*
out_video/*
plots/*
week3_results/*
*.zip
*.log
*.txt
downstream/action_recognition/weights/*.pth
downstream/action_recognition/weights/*.pt
downstream/action_recognition/weights/*.pth
downstream/action_recognition/weights/*.pt
